@import './fonts';
@import './vars';
@import "~@primer/css/index.scss";

html, body, #app {
  background-color: $grey-background;
  font-family: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none !important;
}

h1, h2, h3, h4 {
  color: $text;
  font-family: $font-weight-bold;
  font-weight: normal;
}

b {
  font-family: $font-weight-bold;
}

p {
  font-size: 16px;
}

#app {
  min-height: 100vh;
}

a {
  color: $text;

  &:hover {
    color: $text !important;
    cursor: pointer;
    text-decoration: none !important;
  }
}

::placeholder {
  color: $silver-background;
}

.input {
  outline: none;
  color: #0ff;
  background-color: #00f;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

textarea {
  font-size: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: $border-color;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: $border-color;
  }
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.column {
  width: 160px;
}

.anim-fade-in {
  animation-duration: 0.6s !important;
}

.line-height-0 {
  line-height: 0;
}

.bg-black {
  background-color: $silver-background;
}

.State {
  font-size: 13px;
  line-height: 30px;
  height: 28px;
  vertical-align: middle;
  padding: 0 12px;
  border-radius: 0px;
}

.curve-header {
  background: $curve-blue;
  border: 6px double $white;
  color: $white;
  box-shadow: 0 0 0 3px $curve-blue, 1em 1em 3px 0 rgba(0,0,0,.5);
}

.border-md {
  border: 6px double $white !important;
}

.border-bottom {
  border-bottom: 6px double $white;
}

.border-top {
  border-top: 6px double $white;
}

.border-left {
  border-left: 6px double $white;
}

.border-right {
  border-right: 6px double $white;
}

.white-text {
  color: $white;
}

.proposals {
  background: silver;
  box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgba(0,0,0,.5);
}

.green-button {
  background: green !important;
  box-shadow: 0.5em 0.5em 3px rgba(0,0,0,.5);
  transform: translate3d(.25em,.25em,10em);
  border: 1px outset green !important;
  color: $white !important;

  &:hover {
    background: #32cd32 !important;
    box-shadow: 0 0 0 rgba(0,0,0,.5);
  }

  &:disabled {
    background: $text-gray !important;
    border: 1px outset $text-gray !important;
    cursor: not-allowed;
  }
}

.button-no-hover {
  &:hover {
    background: transparent !important;
    color: #212529 !important;
  }
}
