@import '~primer-support';

$border-radius: 0px;
$black: #0f1011;
$grey-background: #a5a4ce;
$silver-background: silver;
$text: #212529;

$border-color: rgba(25, 101, 233, 0.5);
$border: 1px solid $border-color;

$blue: #384AFF;
$green: #21b66f;
$red: #ff3856;
$bg-blue: $blue;
$bg-green: $green;
$bg-red: $red;
$text-blue: $blue;
$text-green: $green;
$text-red: $red;
$text-black: #212529;
$bg-gray-dark: #3465a4;
$curve-blue: #3465a4;

$body-font-size: 14px;
$body-line-height: 1.4;
$h1-size: 36px;
$h2-size: 28px;
$h3-size: 24px;
$h4-size: 20px;

$font-weight-normal: System, monospace;
$font-weight-bold: System, monospace;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
